<ion-header>
    <ion-toolbar color="cinematica">
        <button color="white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Agendamento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="especialidade-content">
    <ion-card class="card-background-page">
        <ion-card-header class="card-title">
            <p style="color:#fff">Selecione a Especialidade</p>
        </ion-card-header>
        <ion-item ion-item *ngFor="let item of listaEspecialidadeDTO" (click)="itemTapped($event, item)">
            <div class="profile-image">
                <img src="assets/img/marty-avatar.png">
            </div>
            <div class="nome">
                <h2>{{item.descricao}}</h2>
            </div>
        </ion-item>
    </ion-card>
</ion-content>