<!--
  Generated template for the Datas page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="cinematica">
        <button color="white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Agendamento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="home-content">
    <!--<ion-datepicker (ionChanged)="setDate($event);" [hidden]="false" [value]="initDate" [disabledDates]="disabledDates" locale="pt-BR" okText="Confirmar" [min]="min" [max]="maxDate" cancelText="Cancelar">
        <ion-icon name="clipboard" item-left></ion-icon>
    </ion-datepicker> -->
</ion-content>