<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="cinematica">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="login-content" padding>
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <div style="width:80%">
            <img src="assets/img/logoc.png" />
        </div>
        <ion-col></ion-col>
    </ion-row>
    <div class="login-box">
        <form (ngSubmit)="login()" #registerForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>

                        <ion-item>
                            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="usuario" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="senha" required></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid" (click)="login()">Login</button>
                    <button ion-button class="register-btn" block clear>Criar nova Conta</button>
                </ion-col>
            </ion-row>

        </form>
    </div>
</ion-content>