page-perfil {
    .col {
        padding: 0px;
    }
    .card-content-ios {
        line-height: 1.6em;
    }
    .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
    }
    p {
        font-family: Verdana;
        font-size: 10px;
        margin: -8px -13px 3px
    }
    ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
    .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
    }
    .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
    }
    .submit-btn {
        background: #55acee;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
    }
    .register-btn {
        color: #ffffff;
        font-size: 0.8em;
    }
}