<ion-header>
    <ion-toolbar color="cinematica">
        <button color="white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Conta</ion-title>
        <ion-buttons right>
            <button ion-button icon-only>
                  <ion-icon name="md-open"></ion-icon>
                </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col class="signup-col">
                <p>NOME:</p>
                {{perfilDTO.nome}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="signup-col">
                <p>E-MAIL:</p>
                {{perfilDTO.email}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="signup-col">
                <p>CELULAR:</p>
                {{perfilDTO.telefone}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="signup-col">
                <p>DATA NASCIMENTO:</p>
                {{perfilDTO.dataNascimento}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="signup-col">
                <p>SEXO:</p>
                {{perfilDTO.sexo}}
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-row>
        <ion-col class="signup-col">
            <button ion-button class="submit-btn" full (click)="lougt()">Logout</button>
        </ion-col>
    </ion-row>
</ion-content>