<ion-header>
    <ion-toolbar color="cinematica">
        <button color="white" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cinemática</ion-title>
    </ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-icon style="font-size: 2.5rem;" ios="ios-calendar-outline" md="md-calendar"></ion-icon>
                <p style="margin: -24px 0px 0px 30px;">Agendadas</p>
            </ion-col>
            <ion-col>
                <p (click)="abrirAgendamento()">
                    <ion-icon ios="ios-add-circle" md="md-add-circle" style="float: right; font-size:2.5rem;"></ion-icon>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="home-content">
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item-sliding *ngFor="let item of listaAgendaDTO">
            <ion-item>
                <ion-icon name="md-person" ios="ios-person-outline"></ion-icon> {{item.funcionario}}<br />
                <ion-icon name="list-box" ios="ios-list-box-outline"></ion-icon> {{item.especialidade}}<br />
                <ion-icon name="time" ios="ios-time-outline"></ion-icon> {{item.horario}}<br />
                <ion-icon ios="ios-calendar-outline" md="md-calendar"></ion-icon> {{item.data}}
            </ion-item>
            <ion-item-options side="right">
                <button ion-button expandable color="primary">
                    Remarcar
                </button>
                <button ion-button expandable color="danger" (click)="deleteAgenda(item)">
                    Cancelar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list> -->
    <ion-tabs>
        <ion-tab [root]="tab1Root"></ion-tab>
        <ion-tab [root]="tab2Root"></ion-tab>
        <ion-tab [root]="tab3Root"></ion-tab>
    </ion-tabs>
</ion-content>