page-home {
    .home-content {
        background: #ffffff;
        .card-background-page {
            background: #084F85;
        }
        .card-title {
            color: #ffffff
        }
    }
}