<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="cinematica">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="side-menu-item">
        <div class="spacer" data-componentid="spacer1" style="width: 268px; height: 30px;"></div>
        <div class="profile-image">
            <img src="assets/img/perfil.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;" />
        </div>
        <ion-grid>
            <ion-row>
                <ion-col col-18 style="color: black; padding-left: 3.3em; font-size:120%"> {{perfilDTO.nome}}</ion-col>
            </ion-row>
        </ion-grid>
        <div class="spacer" data-componentid="spacer2" style="width: 268px; height: 17px;"></div>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="background:#f4f4f4">
                <ion-icon [name]="p.icon" item-left></ion-icon>{{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>