$SIDEMENU_TOP: #2D7AE9;
$SIDEMENU_BOTTOM: #2D7AE9;
$SIDEMENU_TRANSPARENCY: #084F85;

/*rgba(54, 119, 229, 0.40);*/

.side-menu-item {
    background: #f4f4f4;
    color: white;
    font-weight: 300;
    border: 0px;
    .item-content {
        background: #f4f4f4;
        &.activated {
            background: $SIDEMENU_TRANSPARENCY;
        }
    }
}

.side-menu-gradient {
    background: -webkit-linear-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.profile-image {
    img {
        border-radius: 50%;
        margin: 10;
        border: 4px solid $SIDEMENU_TRANSPARENCY;
    }
}

.nome-menu {
    padding-left: 6em;
    font-size: 1.0em;
    padding-top: 1.5em;
    color: black;
    font-family: Verdana;
}