<ion-header>
    <ion-toolbar color="cinematica">
        <button color="white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Agendamento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="agenda-content">
    <ion-card class="card-background-page">
        <ion-card-header class="card-title">
            <p style="color:#fff">Selecione o Profissional</p>
        </ion-card-header>
        <ion-item *ngFor="let item of listaFuncionarioDTO" (click)="itemTapped($event, item)">
            <div class="profile-image">
                <img src="assets/img/marty-avatar.png">
            </div>
            <div class="nome">
                <h2>{{item.nome}}</h2>
                <p>{{item.profissao.descricao}}</p>
            </div>
        </ion-item>
    </ion-card>
</ion-content>