page-agendamento {
    .agenda-content {
        background: #ffffff;
        .card-background-page {
            background: #084F85;
        }
        .card-title {
            color: #ffffff
        }
    }
    .profile-image {
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            float: left;
        }
    }
    .nome {
        margin-left: 35%;
    }
}